[user]
    name = Justin Burnham
    email = justin@jburnham.net
[color]
    branch = auto
    ui = true
    diff = auto
    interactive = auto
    status = auto
[color "diff"]
    new = cyan
[core]
    quotepath = false
[alias]
    st = status
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ignore = !git update-index --assume-unchanged
    unignore = !git update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep ^[a-z]
