{{- $work := promptBoolOnce . "work_computer" "Is this a work computer" -}}

[data]
    work_computer = {{ $work }}

[diff]
    pager = "delta"
[[textconv]]
    pattern = "**/.claude/settings.json"
    command = "jq"
    args = ["--sort-keys", "."]
[[textconv]]
    pattern = "**/.claude/settings.local.json"
    command = "jq"
    args = ["--sort-keys", "."]
