{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "external_directory": {
      "/tmp/**": "allow",
      "~/go/**": "allow"
    }
  },
  "plugin": [
    "superpowers@git+https://github.com/obra/superpowers.git"{{ if .work_computer }},
    "@zilliz/memsearch-opencode"{{ end }}
  ]{{ if .work_computer }},
  "model": "amazon-bedrock/us.anthropic.claude-opus-4-8",
  "default_agent": "build-laconic",
  "agent": {
    "explore": {
      "model": "amazon-bedrock/us.anthropic.claude-sonnet-5"
    },
    "general": {
      "model": "amazon-bedrock/us.anthropic.claude-sonnet-5"
    }
  },
  "provider": {
    "amazon-bedrock": {
      "options": {
        "region": "us-east-1",
        "profile": "bedrock-{{ .cred_tool }}"
      }
    }
  },
  "mcp": {
    "linear": {
      "type": "remote",
      "url": "https://mcp.linear.app/mcp",
      "enabled": true
    },
    "drop": {
      "type": "remote",
      "url": "https://{{ .drop_mcp_host }}/mcp",
      "enabled": true
    },
    "platform-tools": {
      "type": "remote",
      "url": "https://{{ .work_mcp_host }}/api/mcp/devtools",
      "enabled": true
    },
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest"
      ],
      "enabled": true
    },
    "grafana-tools": {
      "type": "local",
      "command": ["{{ .chezmoi.homeDir }}/.local/bin/grafana-mcp-wrapper"],
      "enabled": true
    }
  }{{ end }}
}
